/* MCQ Option Buttons (styled as boxes) */
 .answer-option-button {
   padding: .7rem 1.5rem;
   font-size: 2rem;
   font-weight: bold;
   color: #fff;
   border-radius: 16px; /* Slightly more rounded */
   cursor: pointer;
   width: 8rem;

   text-align: center;
   transition: all 0.2s ease-in-out;

   background: linear-gradient(145deg, #61dfff, #0687ff);
   box-shadow:
    inset 0 2px 1px rgba(255, 255, 255, 0.2),
    inset 0 -2px 3px rgba(0, 0, 0, 0.1),
    0 6px 0px rgba(2, 108, 229, 0.7);
    border: none;
 }
 
 .answer-option-button:hover:not(:disabled) {
   transform: translateY(-2px);
   box-shadow:
    inset 0 2px 1px rgba(255, 255, 255, 0.6),
    inset 0 -2px 3px rgba(0, 0, 0, 0.1);
 }
 
 .answer-option-button.selected {
   color: white;
   box-shadow: 0 2px 5px rgba(0, 123, 255, 0.5);
 }
 
 /* Feedback styling for MCQ buttons */
 .answer-option-button.correct {
   background: linear-gradient(145deg, #10cc6e, #07c274);
   color: white;
   box-shadow:
    inset 0 2px 1px rgba(255, 255, 255, 0.6),
    inset 0 -2px 3px rgba(0, 0, 0, 0.1),
    0 6px 0px rgba(97, 255, 97, 0.6);
 }
 .answer-option-button.incorrect {
   background: linear-gradient(145deg, #f5613c, #df4f0d);
   pointer-events: none;
   color: white;
   animation: jiggle 0.5s;
   box-shadow:
    inset 0 2px 1px rgba(255, 255, 255, 0.6),
    inset 0 -2px 3px rgba(0, 0, 0, 0.1),
    0 6px 0px rgba(255, 122, 104, 0.6);
 }
 
 @keyframes jiggle {
   0%, 100% { transform: translateX(0); }
   25% { transform: translateX(-5px); }
   50% { transform: translateX(5px); }
   75% { transform: translateX(-5px); }
 }
 
 .answer-option-button:disabled {
     cursor: not-allowed;
     opacity: 0.7;
 }
 .answer-option-button.selected:disabled { /* Ensure selected maintains appearance if disabled */
     opacity: 1;
 }

 #question{
    width: 100%;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 1rem;
    background-color: rgba(216, 216, 216, 0.2);
    border-radius: .5rem;
 }
 #bigNumber{
    font-weight: bold;
    font-size: 4rem;
    color: #fdbe35;
    text-align: center;
    padding: 1rem;
 }
 #options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
 }