<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="applet/applet.css">
    <script src="packages/confetti.min.js"></script>
    <script src="packages/gsap.min.js"></script>
    <script src="applet/rootText.js"></script>
    <script src="applet/texts.js"></script>
</head>
<body>
    
    <div id="aspect-container">
        <div class="overlay" id="fullscreen-overlay">
            <button class="close-button">X</button>
            <button class="btn btn-primary" id="overlay-button"></button>
        </div>
        <!-- <div id="top-heading">
            <p>Applet Name Optional</p>
        </div> -->
        <div id="main-content">
            <div id="left-panel">
                <div id="context">
                    <h3></h3>
                    <p> </p>
                </div>
                <div id="character">
                    <img src="assets/JAXnormal.png">
                </div>
            </div>
            <div id="right-panel">
                <!-- <div class="strap" id="upper-controls">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla dolore obcaecati adipisci rem, tempora quisquam! Totam non nostrum odio. </div> -->
                <div id="applet">
                    
                </div>
                <div class="strap" id="lower-controls">
                    <button class="btn btn-secondary fade-in" id="previous-button">Previous</button>
                    <div class="step-counter fade-in" id="stepCounter"></div>
                    <button class="btn btn-primary fade-in" id="next-button">Next</button>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
    <script src="applet/applet.js"></script>
</body>
</html>