<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <div id="aspect-container">
        <div class="overlay" id="fullscreen-overlay">
            <button class="close-button">X</button>
            <button class="btn btn-primary" id="overlay-button">Proceed</button>
        </div>
        <div id="top-heading">
            <p>Applet Name Optional</p>
        </div>
        <div id="main-content">
            <div id="left-panel">
                <div id="context"></div>
                <div id="character">
                    <img src="assets/DTnormal.png">
                </div>
            </div>
            <div id="right-panel">
                <div class="strap" id="upper-controls">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla dolore obcaecati adipisci rem, tempora quisquam! Totam non nostrum odio, deserunt cupiditate voluptatibus optio est repellat, impedit rem asperiores enim doloremque?</div>
                <div id="applet">
                    <div id="main-card"></div>
                </div>
                <div class="strap" id="lower-controls">
                    <button class="btn btn-secondary" id="previous-button">Previous</button>
                    <button class="btn btn-primary" id="next-button">Next</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>