<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="aspect-container">
        <div id="top-heading">
            <p>Applet Name Optional</p>
        </div>
        <div id="main-content">
            <div id="left-panel"></div>
            <div id="right-panel">
                <div class="strap" id="upper-controls"></div>
                <div id="applet"></div>
                <div class="strap" id="lower-controls">
                    <button class="btn btn-secondary">Previous</button>
                    <button class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>