/* CSS for the subtraction applet, updated with first-stage styles */
#bottom-statement {
  color: white;
  height: 15%;
  border: 1px solid rgba(168, 85, 247, 0.4);
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.5rem;
  z-index: 30;
  text-align: center;
  backdrop-filter: blur(7px);
}

.main-container {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  gap: 2rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(7px);
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw 2vw;
  color: white;
  height: 100%;
  border-radius: 1rem;
  border: 1px solid rgba(168, 85, 247, 0.4);
  box-shadow: 0 0 1rem rgba(168, 85, 247, 0.3),
    0 0 0.5rem rgba(0, 194, 255, 0.2);
}

/* --- First Stage Styles --- */
.question-panel {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  display: none;
}
#big-question {
  color: white;
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.5;
}
#big-question span {
  /* display: inline-block; */
  padding: 0.2rem;
  /* border-radius: 0.5rem; */
}
#facts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px dashed var(--glow-primary);
  padding: 1rem;
  border-radius: 1rem;
}
#facts span {
  display: inline-block;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: var(--text-color);
}
.yellow-bg {
  background-color: rgba(168, 85, 247, 0.3);
  color: #fff;
}
.green-bg {
  background-color: rgba(52, 211, 153, 0.3);
  color: #fff;
}
.main-container.first-stage .question-panel {
  display: flex;
}
.main-container.first-stage .left-panel {
  display: none;
}
.main-container.first-stage .right-panel {
  display: none;
}
#addition-word-problem {
    display: none;
    /* Hidden by default */
    flex-direction: column;
    font-size: 1.3rem;
    color: var(--text-color);
    width: 65%; /* Increased width slightly for better spacing */
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px dashed var(--glow-primary);
    padding: 1rem;
    border-radius: 1rem;
}

.awp-line {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;
}

.awp-text {
    flex-basis: 50%; /* Adjusted basis */
    text-align: left; /* Text is on the right, aligned left */
}

.awp-number {
    flex-basis: 25%; /* Adjusted basis */
    text-align: right;
    font-size: 2.2rem; /* Made numbers bigger */
    font-weight: 700;
}

.awp-line-divider {
    width: 25%; /* Match the width of the numbers column */
    align-self: flex-start; /* Align to the left side */
    padding: 0;
    justify-content: flex-start;
    /* padding-left: 1rem; */
    margin-left: 3rem;
}

.awp-line-divider hr {
    width: 100%;
    border: 1px solid var(--text-color);
}

.awp-box {
    border: 2px dashed var(--text-color);
    width: 25%; /* Make box fill its container */
    /* max-width: 8rem; */
    align-self: flex-end;
    height: 3.2rem; /* Increased height */
    text-align: right;
    font-size: 2.2rem; /* Match number font size */
    font-weight: 700;
    color: var(--text-color);
    /* padding: 0 0.5rem; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: .5rem;
}
/* --- End First Stage Styles --- */

.addition-container {
  display: grid;
  font-size: 3vw;
  gap: 0.6vw 0.5vw;
  text-align: right;
  width: 100%;
  border-radius: 0.5rem;
}

.item {
  padding: 0.5vw;
  box-sizing: border-box;
  min-height: 3.5vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.row-result.item {
  min-height: 8vw;
  align-items: flex-start;
}

.line-item {
  height: 0.2vw;
  background-color: rgba(168, 85, 247, 0.5);
  grid-column: 1 / -1;
  align-self: center;
}

.left-panel {
  border-radius: 1rem;
  width: 50%;
  display: flex;
}

.left-panel .addition-container {
  width: 85%;
  grid-template-columns: repeat(6, 1.2rem);
  column-gap: 0rem;
  row-gap: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  display: none;
}

.right-panel {
  flex: 1;
  border-radius: 1rem;
}

.right-panel .addition-container {
  grid-template-columns: repeat(5, 1fr);
  column-gap: 0;
  row-gap: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  /* padding: 0.5rem; */
  position: relative;
}

.right-panel .item,
.left-panel .item {
  justify-content: center;
  text-align: center;
}

.right-panel .header {
  font-weight: bold;
}

.carry-over {
  font-size: 2vw;
  color: #a0a0a0;
  align-items: flex-end;
  padding-bottom: 0.5vw;
  height: 2.5rem;
}

.invisible {
  visibility: hidden;
}

.tth-color {
  color: #2ecc71;
}
.th-color {
  color: #ffc000;
}
.h-color {
  color: #e56d30;
}
.t-color {
  color: #00b4f1;
}
.o-color {
  color: #ce088c;
}

#mcq-overlay {
  position: fixed;
}

#mcq-container {
  height: 70%;
  padding: 0.5rem;
  color: white;
  font-family: Arial, sans-serif;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

#left-info {
  width: 50%;
  height: 70%;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  padding: 0 1rem;
  border-right: 1px solid rgba(240, 232, 255, 0.4);
}

#mcq-overlay.split #left-info {
  display: flex;
}

#mcq-container p {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
  color: white;
}

#mcq-options {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 90%;
}

.option {
  color: white;
  border: 1px solid rgba(168, 85, 247, 0.5);
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  padding: 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 1.1rem;
}

.option:hover {
  border-color: #a855f7;
  box-shadow: 0 0 15px #a855f7;
  transform: translateY(-2px);
}

.option.correct {
  background: rgba(52, 211, 153, 0.2) !important;
  color: #34d399 !important;
  border-color: #34d399 !important;
}

.option.wrong {
  background: rgba(248, 113, 113, 0.2) !important;
  color: #f87171 !important;
  border-color: #f87171 !important;
  pointer-events: none;
}

#highlight-box {
  position: fixed;
  border: 3px solid rgb(193, 6, 193);
  z-index: 10;
  display: none;
  transition: all 0.35s ease-in-out;
  box-sizing: border-box;
}

.green-box {
  border-color: #2ecc71 !important;
}

.red-box {
  border-color: rgb(255, 12, 12) !important;
}

.clickable {
  cursor: pointer;
  pointer-events: all !important;
}

.right-panel .item.clickable {
  cursor: pointer !important;
  pointer-events: all !important;
  background-color: rgba(255, 255, 255, 0.01) !important;
}

#highlight-box button {
  position: absolute;
  bottom: 0.25rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 2rem;
  background-color: rgb(193, 6, 193);
  color: white;
  border: 2px solid white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: none;
}

#highlight-box button:hover {
  background-color: rgb(127, 3, 127);
  scale: 1.1;
}

#next-button {
  z-index: 30;
}

.right-panel .item {
  border: none;
  border-bottom: 1px dashed rgba(168, 85, 247, 1);
  border-right: 1px dashed rgba(168, 85, 247, 1);
}

.right-panel .row-num2.item {
  border-bottom: none;
}

.right-panel .col-5 {
  border-right: none;
}

.right-panel .row-result.item {
  border-bottom: none;
}

.text-transparent {
  color: transparent;
}

.selected {
  border-color: #a855f7;
  background: linear-gradient(
    145deg,
    rgba(185, 114, 251, 0.3),
    rgba(169, 88, 246, 0.1)
  );
  color: white;
  cursor: pointer;
  pointer-events: all !important;
}

.strike-through {
  text-decoration: line-through;
}

.right-panel .addition-container.simplified-mode {
  grid-template-columns: repeat(5, 2rem) !important;
  width: 60% !important;
  padding-left: 2rem;
}

.right-panel .addition-container.simplified-mode .row-header {
  display: none;
}

.right-panel .addition-container.simplified-mode .item {
  border: none !important;
}

.right-panel .addition-container.simplified-mode .row-num1.item,
.right-panel .addition-container.simplified-mode .row-num2.item {
  color: white !important;
}


.addition-container.simplified-mode #plus {
  top: 52%;
  left: 10%;
  display: block;
}


#step3-mcq-container {
  width: 100%;
  text-align: center;
  padding: .5rem;
}

#step3-mcq-question {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

#step3-mcq-options {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#step3-mcq-options .option {
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
}

/* FIx */

#plus {
  position: absolute;
  top: 67%;
  left: -6%;
  transform: translate(-50%, -50%);
  /* display: none; */
}

.right-panel .addition-container {
  position: relative;
  /* Proportional column widths: TTh > Th > H > T > O */
  grid-template-columns: repeat(5, 1fr);
  column-gap: 0;
  row-gap: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  /* padding: 0.5rem; */
  border: 1px dashed rgba(168, 85, 247, 0.8);
  margin-left: 1.5rem;
}

.row-result.item {
  min-height: 4.8vw;
  align-items: flex-start;
}

.yellow-bg {
  background-color: #fdff88;
  color: black;
}
.green-bg {
  background-color: #4dffbe;
  color: black;
}
.em{
  color: var(--glow-secondary);
}

.line-item {
  height: 0.3vw;
  background-color: rgba(168, 85, 247, 0.8); /* Changed from white */
  grid-column: 1 / -1;
  align-self: center;
  /* margin: 0.3vw 0; */
}
